nav.menu ul{list-style-type: none;}
nav.menu a{
    text-decoration: none;
    border: 1px solid red;
    padding: 5px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 80px;
    display: inline-block;
}
nav.menu a:hover{background-color: red;}
nav.menu li {display: inline;}
#currentpage{font-weight: bold;}