


.menu ul{list-style-type: none;}
.menu a{
    color: white;
    background-color: rgb(121, 113, 234);
    text-decoration: none;
    border: 1px solid rgb(68, 62, 160);
    padding: 5px;
    text-align: center;
    margin: 2px;
    width: 150px;
    display: inline-block;
}
.menu a:hover{
    opacity: 0.7;
}
.menu li {display: inline;}
#currentpage{font-weight: bold;}